<h1><%= @episode.title %></h1>
<p><%= @episode.short_description %></p>
<p>Release Date: <%= @episode.release_date %></p>
<p><%= link_to "Listen on Spotify", @episode.spotify_url, target: "_blank" %></p>
