<div class="text-center">
  <h1>Welcome to RubyPod</h1>
</div>
<h2>A central hub to see the latest episodes from your fav Ruby and Ruby on Rails podcasts on Spotify</h2>
<%= render "search/form" %>
<%= button_to 'Fetch Episodes', fetch_episodes_podcasts_path, method: :post, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>

<%= render @podcasts %>
